* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  color: #222;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

/* style for navigation bar */

nav {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: #0d6efd;
  position: sticky;
  margin-bottom: 0;
}

nav a {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.4s;
}

nav a:hover {
  background-color: white;
  color: #0d6efd;
  border-radius: 5px;
}

/*Hero section styling  */
.destinationHeroSection {
  background: url("./images/newlanding.jpg") center/cover no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 20px 0px;
  padding: 20px;
}
.hero-section {
  background: url("./images/landing2.jpg") center/cover no-repeat;
  height: 60vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 20px 0px;
  padding: 20px;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 25px;
}

.hero-button {
  padding: 12px 25px;
  color: white;
  font-size: 1rem;
  background-color: #2984fa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: #e0a800;
}

/* Destinanation cards styling  */

.destination-head {
  text-align: center;
}

.home-cards {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 25px 0;
}

.city-card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.city-card:hover {
  transform: scale(1.05);
}

.city-card img {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  background-color: #ddd;
  margin-bottom: 10px;
}

.city-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .home-cards {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 16px;
  }

  .city-card {
    min-width: 220px;
    scroll-snap-align: start;
  }
}

/*  WHY CHOOSE US SECTION */
.why-choose ul,
h2 {
  text-align: center;
  list-style: none;
}

/* TESTIMONIALS SECTION */
.testimonial-head {
  text-align: center;
}

section {
  margin: 30px 0;
}

section h2 {
  margin-bottom: 10px;
}
.testimonials-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.testimonials-card:hover {
  transform: scale(1.05);
}

.testimonials-card img {
  width: 30%;
  height: 35%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ddd;
  margin-bottom: 10px;
}

.testimonials-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 25px 0;
}

.rating i {
  color: #2984fa;
  margin-right: 4px;
}

/*footer styling */

footer {
  background-color: #0d6efd;
  color: white;
  padding: 30px;
  margin-top: 30px;
}

footer h4 {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
}

footer a {
  color: white;
  transition: 0.3s;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 10px 0;
  font-size: 0.9rem;
}

/* responsiveness for homepage    */

@media (max-width: 600px) {
  .hero-section h1 {
    font-size: 1.8rem;
  }

  nav {
    flex-wrap: wrap;
    gap: 15px;
  }
  .testimonials-card {
    height: fit-content;
  }
}
/* destination page container*/
.destination-container {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

/*cabin class styling  */
.cabin-button {
  margin: 10px;
  padding: 8px 20px;
  color: white;
  font-size: 1rem;
  background-color: #2984fa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.destination-button {
  margin: 10px;
  padding: 8px 20px;
  color: white;
  font-size: 1rem;
  background-color: #2984fa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.chooseclass {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 30px 0;
}
.destination-head {
  display: flex;
  align-items: center;
}
.chooseclass .cabin,
.chooseclass div {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.chooseclass img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.chooseclass div:hover {
  transform: translateY(-7px);
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
}

/* DESTINATION GRID  */
.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.destination-grid div {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.destination-grid img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
}

.destination-grid div:hover {
  transform: scale(1.04);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE for destination page */

@media (max-width: 768px) {
  .chooseclass {
    flex-direction: column;
    align-items: center;
  }
  .testimonials-card {
    height: fit-content;
  }
}

/* contact Page styling */

.contact {
  min-height: 100vh;
  background-color: #e8f0fe;
  padding: 50px;
  text-align: center;
  background-image: url("images/newyork2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.container h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: black;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.contact-form {
  text-align: left;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: black;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #bbb;
}

button {
  border-radius: 8px;
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  columns: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0d6efd;
}
.contact-info {
  text-align: left;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.contact-info p {
  margin-bottom: 10px;
  color: black;
}

.contact-info i {
  color: #0d6efd;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .contact {
    padding: 30px 15px;
    text-align: center;
  }
  .contact-wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .contact-form,
  .contact-form {
    text-align: center;
  }

  .contact-info {
    background-color: rgba(225, 219, 219, 0.516);
    border-radius: 8px;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .contact-info h3 {
    text-align: center;
  }

  .contact-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  /* button{
    width: 100%;
  } */
}

/* footer */

.info {
  text-align: center;
}

.icons .fab {
  color: #fff;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
